Repository ai-rio/cv-match: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check-frontend, type-check-backend, test-frontend, test-backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.2.5
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
        types_or: [javascript, jsx, ts, tsx, json, markdown, yaml]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.27.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@9.27.0
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - eslint-config-next
          - eslint-plugin-prettier
          - eslint-plugin-simple-import-sort

  - repo: local
    hooks:
      - id: type-check-frontend
        name: TypeScript type checking (frontend)
        entry: bun run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        always_run: false

      - id: type-check-backend
        name: Python type checking (backend)
        entry: pyright
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

      - id: test-frontend
        name: Run frontend tests
        entry: bun run test:coverage
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        always_run: false

      - id: test-backend
        name: Run backend tests
        entry: cd backend && python -m pytest tests/ -v --cov=app --cov-report=term-missing
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        always_run: false

fix(git): update workflow to use only bun and uv
  .claude/development-workflow.md
  .claude/project-overview.md
  .claude/settings.local.json
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  .pre-commit-config.yaml
  Makefile
  TEST-WORKFLOW.md
  backend/pyproject.toml
  commitlint.config.js
  docs/GIT-WORKFLOW.md
  docs/development/README.md
  docs/ingest/chunks/chunk_003.txt
  docs/ingest/llm_digest.txt
  frontend/.lintstagedrc.js
  frontend/Dockerfile
  frontend/Makefile
  frontend/package.json
  package.json
  scripts/setup-git-workflow.sh
Due: test-frontend

fix(git): temporarily disable pre-push checks
  .husky/pre-push
Due: none

fix(git): complete workflow setup and push
  .claude/settings.local.json
Due: none

fix(workflow): setup husky pre-commit with eslint and type checking
  .claude/settings.local.json
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  commitlint.config.js
  frontend/.lintstagedrc.js
  frontend/bun.lock
  frontend/commitlint.config.cjs
  frontend/components/auth/LoginForm.tsx
  frontend/eslint.config.mjs
  frontend/lint-staged.config.cjs
  frontend/package.json
  frontend/tsconfig.tsbuildinfo
Due: type-check-frontend, test-frontend

fix(lint): increase warning limit and add mypy to backend
  backend/pyproject.toml
  backend/uv.lock
  frontend/app/api/health/route.ts
  frontend/app/auth/callback/page.tsx
  frontend/app/auth/reset-password/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/llm/TextGenerator.tsx
  frontend/eslint.config.mjs
  frontend/lint-staged.config.cjs
  frontend/services/llm.ts
  frontend/services/supabase.ts
  frontend/tsconfig.tsbuildinfo
Due: type-check-frontend, test-frontend

fix(mypy): add explicit-package-bases flag
  .husky/pre-push
Due: none

fix(hooks): make pre-push less strict for existing code
  .husky/pre-push
Due: none

feat: upgrade Next.js to v15.5.4 with React 19 and Tailwind CSS 4.x
  .claude/agents/AGENT_SDK_USAGE.md
  .claude/agents/CONVERSION_SUMMARY.md
  .claude/agents/_base-agent-template.md
  .claude/agents/ai-integration-specialist.md
  .claude/agents/backend-specialist.md
  .claude/agents/backend_specialist.py
  .claude/agents/code-reviewer-agent.md
  .claude/agents/database-architect.md
  .claude/agents/frontend-specialist.md
  .claude/agents/frontend-specialist.ts
  .claude/agents/orchestrator-agent.md
  .claude/agents/payment-specialist.md
  .claude/agents/test-writer-agent.md
  .claude/agents/validate-agent.ts
  .claude/settings.local.json
  .gitignore
  .serena/memories/project-overview.md
  bun.lock
  docs/development/README.md
  docs/development/ROADMAP.md
  docs/development/type-check/IMPLEMENTATION-SUMMARY.md
  docs/development/type-check/QUICK-REFERENCE.md
  docs/development/type-check/README.md
  frontend/README.md
  frontend/app/auth/callback/route.ts
  frontend/app/globals.css
  frontend/bun.lock
  frontend/package.json
  frontend/postcss.config.js
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
  package.json
Due: type-check-frontend, test-frontend

docs: add code maturity audit for production readiness
  docs/development/CODE_MATURITY_AUDIT.md
Due: none

feat(week-0): add comprehensive .env.example and payment webhook tests
  .claude/settings.local.json
  .env.example
  backend/Makefile
  backend/pytest.ini
  backend/requirements-test.txt
  backend/run_webhook_tests.py
  backend/tests/QUICK_START.md
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/fixtures/webhook_fixtures.py
  backend/tests/integration/test_payment_webhooks.py
  backend/tests/unit/test_webhook_service.py
Due: test-backend

style(week-0): fix frontend formatting and linting issues
  frontend/.mcp.json
  frontend/.prettierrc
  frontend/app/api/sentry-example-api/route.ts
  frontend/app/global-error.tsx
  frontend/app/sentry-example-page/page.tsx
  frontend/eslint.config.mjs
  frontend/instrumentation-client.ts
  frontend/jest.config.js
  frontend/lint-staged.config.cjs
  frontend/next.config.mjs
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
  frontend/tailwind.config.js
  frontend/tsconfig.tsbuildinfo
Due: type-check-frontend, test-frontend

feat(type-safety): achieve zero type errors across entire stack
  backend/app/api/endpoints/auth.py
  backend/app/api/endpoints/llm.py
  backend/app/api/endpoints/vectordb.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/config.py
  backend/app/services/security/input_sanitizer.py
  backend/app/services/security/middleware.py
  backend/app/services/stripe_service.py
  backend/app/services/supabase/auth.py
  backend/app/services/vectordb/qdrant_service.py
  backend/app/services/webhook_service.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/app/api/health/route.ts
  frontend/app/auth/reset-password/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/components/llm/TextGenerator.tsx
  frontend/services/llm.ts
  frontend/services/supabase.ts
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
  frontend/types/api.ts
  frontend/types/components.ts
  frontend/types/index.ts
  frontend/types/supabase.ts
Due: type-check-frontend, type-check-backend, test-frontend, test-backend

style(type-safety): fix formatting in type definition files
  frontend/app/auth/reset-password/page.tsx
  frontend/services/supabase.ts
  frontend/types/api.ts
  frontend/types/components.ts
  frontend/types/index.ts
  frontend/types/supabase.ts
Due: type-check-frontend, test-frontend

fix(hooks): make pre-push hooks properly block on errors
  .husky/pre-push
Due: none

feat(hooks): optimize to pre-commit only with error-only blocking
  .husky/pre-commit
  .husky/pre-push
  frontend/package.json
  frontend/tsconfig.tsbuildinfo
Due: none

fix(startup): resolve Docker build and FastAPI type errors
  .claude/settings.local.json
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/README.md
  backend/app/api/endpoints/llm.py
  backend/app/api/endpoints/vectordb.py
Due: type-check-backend, test-backend

test(ruff): install ruff explicitly for pre-commit hooks
  backend/test_ruff.py
Due: test-backend

fix(hooks): update ruff command for new version compatibility
  .husky/pre-commit
  backend/app/api/endpoints/llm.py
  backend/app/api/endpoints/payments.py
  backend/app/api/endpoints/vectordb.py
  backend/app/api/endpoints/webhooks.py
  backend/app/services/security/input_sanitizer.py
  backend/app/services/security/middleware.py
  backend/app/services/stripe_service.py
  backend/app/services/supabase/auth.py
  backend/test_ruff.py
  backend/test_stripe_setup.py
Due: type-check-backend, test-backend

feat(week-0): finalize comprehensive preparation infrastructure
  .claude/settings.local.json
  docs/development/CODE_MATURITY_AUDIT.md
  docs/development/CODE_MATURITY_AUDIT_ORIGINAL.md
  docs/development/WEEK_0_PROGRESS_REPORT.md
Due: none

fix(backend): resolve critical startup errors in FastAPI endpoints
  backend/app/api/endpoints/llm.py
  backend/app/api/endpoints/vectordb.py
  backend/app/services/webhook_service.py
  docker-compose.yml
Due: type-check-backend, test-backend

feat: complete Week 0 implementation with 90% test coverage
  .claude/settings.local.json
  .serena/memories/test-suite-commands.md
  backend/app/services/security/input_sanitizer.py
  backend/app/services/webhook_service.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/fixtures/webhook_fixtures.py
  backend/tests/integration/test_payment_webhooks.py
  backend/tests/unit/test_security_middleware.py
  backend/tests/unit/test_webhook_service.py
  docker-compose.yml
  docs/development/WEEK_0_PROGRESS_REPORT_CORRECTED.md
Due: type-check-backend, test-backend

docs: update development README with Week 0 completion achievements
  docs/development/README.md
Due: none

fix(types): resolve TypeScript compilation errors in TextGenerator
  frontend/app/[locale]/settings/page.tsx
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/me/route.ts
  frontend/app/optimize/page.tsx
  frontend/app/results/[id]/page.tsx
  frontend/app/upload/page.tsx
  frontend/components/llm/TextGenerator.tsx
  frontend/components/resume/job-description-input.tsx
  frontend/contexts/AuthContext.tsx
  frontend/i18n.ts
  frontend/lib/api.ts
  frontend/services/llm.ts
  frontend/services/supabase.ts
  frontend/tsconfig.tsbuildinfo
  frontend/types/api.ts
  frontend/types/components.ts
  frontend/types/index.ts
  frontend/types/supabase.ts
Due: type-check-frontend, test-frontend

feat: Complete P0 (Frontend Migration) - All tests passing
  frontend/app/optimize/page.tsx
  frontend/locales/en/pricing.json
  frontend/locales/pt-br/pricing.json
  frontend/next.config.mjs
Due: type-check-frontend, test-frontend

docs: Add P0 Agent Swarm deployment package
  MANUAL-VERIFICATION.md
  docs/development/AGENT-SWARM-EXECUTIVE-SUMMARY.md
  docs/development/INFRASTRUCTURE-VERIFICATION-COMPLETE.md
  docs/development/P0-IMPLEMENTATION-GUIDE.md
  docs/development/P0-TO-P1-QUICK-START.md
  docs/development/P0-VERIFICATION-CHECKLIST.md
  docs/development/P0-VERIFICATION-COMPLETE.md
  docs/development/QUICK-START-AGENT-SWARM.md
  docs/development/README.md
  docs/development/SESSION-SUMMARY-2025-10-09.md
  docs/development/STATUS-UPDATE-SUMMARY.md
  docs/development/VERIFICATION-PACKAGE-SUMMARY.md
  docs/development/p0-agent-swarm-strategy.md
  docs/development/p0-prompts/01-backend-services-migration.md
  docs/development/p0-prompts/02-ai-integration-specialist.md
  docs/development/p0-prompts/03-database-migrations.md
  docs/development/p0-prompts/04-api-endpoints.md
  docs/development/p0-prompts/README.md
  frontend/tsconfig.tsbuildinfo
  scripts/README.md
  scripts/verify-p0.sh
Due: none

feat(ai): Add LLM integration and score calculation system
  backend/LLM_ENV_VARS.md
  backend/app/agent/__init__.py
  backend/app/agent/exceptions.py
  backend/app/agent/manager.py
  backend/app/agent/providers/base.py
  backend/app/agent/providers/llama_index.py
  backend/app/agent/providers/openai.py
  backend/app/agent/providers/openrouter.py
  backend/app/agent/strategies/base.py
  backend/app/agent/strategies/wrapper.py
  backend/app/core/config.py
  backend/app/core/exceptions.py
  backend/app/services/score_improvement_service.py
  backend/test_llm_integration.py
Due: type-check-backend, test-backend

feat(backend): Copy core services from Resume-Matcher
  backend/app/services/job_service.py
  backend/app/services/resume_service.py
  backend/app/services/text_extraction.py
  backend/pyproject.toml
Due: type-check-backend, test-backend

feat(frontend): Integrate real API endpoints for optimization workflow
  frontend/app/optimize/page.tsx
  frontend/app/results/[id]/page.tsx
Due: type-check-frontend, test-frontend

fix: Temporarily bypass UV sync in pre-commit due to permission issues
  .claude/settings.local.json
  .husky/pre-commit
  backend/P0_COMPLETION_SUMMARY.md
  backend/P0_MIGRATION_VERIFICATION_REPORT.md
  backend/app/api/endpoints/optimizations.py
  backend/app/api/endpoints/resumes.py
  backend/app/api/router.py
  backend/app/core/auth.py
  backend/app/models/optimization.py
  backend/app/models/resume.py
  backend/app/services/job_service.py
  backend/app/services/resume_service.py
  backend/app/services/text_extraction.py
  backend/migration_analysis.md
  backend/test_e2e.py
  backend/test_p0_verification.py
  backend/test_uv_environment.py
  backend/test_uv_imports.py
  backend/tests/unit/test_job_service.py
  backend/tests/unit/test_resume_service.py
  backend/tests/unit/test_score_improvement_service.py
  backend/verify_services.py
  docs/development/P0-COMPLETION-AUDIT.md
  docs/development/P0-FINAL-REPORT.md
  docs/development/p0-prompts/05-testing-suite.md
  docs/development/p0-prompts/06-frontend-integration.md
  docs/development/type-check/README.md
  frontend/tsconfig.tsbuildinfo
  supabase/migrations/20250107000001_create_payment_tables.sql
  supabase/migrations/20251010185053_enhance_profiles_for_lgpd_compliance.sql
  supabase/migrations/20251010185137_create_optimizations_table.sql
  supabase/migrations/20251010185206_create_resumes_table.sql
  supabase/migrations/20251010185236_create_job_descriptions_table.sql
  supabase/migrations/20251010185305_create_usage_tracking_table.sql
  supabase/migrations/20251010185336_create_storage_and_lgpd_functions.sql
Due: type-check-backend, test-backend

fix(backend): Fix Python code formatting issues
  backend/app/agent/manager.py
  backend/app/agent/providers/llama_index.py
  backend/app/agent/providers/openai.py
  backend/app/agent/providers/openrouter.py
  backend/app/agent/strategies/base.py
  backend/app/agent/strategies/wrapper.py
  backend/app/services/resume_service.py
  backend/app/services/score_improvement_service.py
  backend/app/services/security/input_sanitizer.py
  backend/app/services/security/middleware.py
  backend/app/services/supabase/auth.py
  backend/app/services/webhook_service.py
  backend/pyproject.toml
  backend/tests/unit/test_resume_service.py
  backend/tests/unit/test_security_middleware.py
  backend/tests/unit/test_webhook_service.py
Due: type-check-backend, test-backend

docs: Complete P1 Agent Swarm package - ALL 7 prompts ready
  docs/development/p1-agent-swarm-strategy.md
  docs/development/p1-prompts/01-payment-services-migration.md
  docs/development/p1-prompts/02-usage-services-migration.md
  docs/development/p1-prompts/03-database-payment-tables.md
  docs/development/p1-prompts/04-webhook-implementation.md
  docs/development/p1-prompts/05-api-payment-integration.md
  docs/development/p1-prompts/06-frontend-pricing-pages.md
  docs/development/p1-prompts/07-payment-testing-suite.md
  docs/development/p1-prompts/README.md
Due: none

docs: Fix link to p1-agent-swarm-strategy.md in README
  docs/development/p1-prompts/README.md
Due: none

feat(usage): Add usage tracking and limit services
  backend/app/core/database.py
  backend/app/models/usage.py
  backend/app/services/paid_resume_improvement_service.py
  backend/app/services/usage_limit_service.py
  backend/app/services/usage_tracking_service.py
Due: type-check-backend, test-backend

feat(database): Add payment and credit management tables
  supabase/migrations/20251010185336_create_storage_and_lgpd_functions.sql
  supabase/migrations/20251011003955_create_user_credits_table.sql
  supabase/migrations/20251011004011_create_credit_transactions_table.sql
  supabase/migrations/20251011004023_create_payment_events_table.sql
  supabase/migrations/20251011004037_create_credit_functions.sql
  supabase/migrations/20251011004910_fix_deduct_credits_function.sql
Due: none

docs: Add P1.5 subscription system prompts
  docs/development/p1.5-prompts/00-AGENT-TOOLS-GUIDE.md
  docs/development/p1.5-prompts/00-COMPLETE-PACKAGE.md
  docs/development/p1.5-prompts/00-EXECUTION-GUIDE.md
  docs/development/p1.5-prompts/00-LOCALIZATION-GUIDE.md
  docs/development/p1.5-prompts/01-subscription-pricing-config.md
  docs/development/p1.5-prompts/02-subscription-management-service.md
  docs/development/p1.5-prompts/03-database-subscription-updates.md
  docs/development/p1.5-prompts/04-subscription-api-endpoints.md
  docs/development/p1.5-prompts/05-subscription-frontend-ui.md
  docs/development/p1.5-prompts/06-subscription-testing-suite.md
  docs/development/p1.5-prompts/README.md
Due: none
