Repository ai-rio/cv-match: changes, and which pre-commit hooks are due for each by the changed paths.
All: type-check-frontend, type-check-backend, test-frontend, test-backend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.2.5
    hooks:
      - id: prettier
        files: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
        types_or: [javascript, jsx, ts, tsx, json, markdown, yaml]

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.27.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@9.27.0
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - eslint-config-next
          - eslint-plugin-prettier
          - eslint-plugin-simple-import-sort

  - repo: local
    hooks:
      - id: type-check-frontend
        name: TypeScript type checking (frontend)
        entry: bun run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        always_run: false

      - id: type-check-backend
        name: Python type checking (backend)
        entry: pyright
        language: system
        files: ^backend/app/.*\.py$
        pass_filenames: false

      - id: test-frontend
        name: Run frontend tests
        entry: bun run test:coverage
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        always_run: false

      - id: test-backend
        name: Run backend tests
        entry: cd backend && python -m pytest tests/ -v --cov=app --cov-report=term-missing
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false
        always_run: false

docs: Restore P1.5 subscription system prompts
  backend/docs/development/p1.5-prompts/00-AGENT-TOOLS-GUIDE.md
  backend/docs/development/p1.5-prompts/00-EXECUTION-GUIDE.md
  backend/docs/development/p1.5-prompts/00-LOCALIZATION-GUIDE.md
  backend/docs/development/p1.5-prompts/01-subscription-pricing-config.md
  backend/docs/development/p1.5-prompts/02-subscription-management-service.md
  backend/docs/development/p1.5-prompts/03-database-subscription-updates.md
  backend/docs/development/p1.5-prompts/04-subscription-api-endpoints.md
  backend/docs/development/p1.5-prompts/05-subscription-frontend-ui.md
  backend/docs/development/p1.5-prompts/06-subscription-testing-suite.md
  backend/docs/development/p1.5-prompts/README.md
Due: none

feat(subscriptions): Complete P1.5 Subscription System - Hybrid Model Implementation
  backend/app/api/pricing.py
  backend/app/api/router.py
  backend/app/api/subscriptions.py
  backend/app/config/pricing.py
  backend/app/core/database.py
  backend/app/middleware/credit_middleware.py
  backend/app/models/subscription.py
  backend/app/services/subscription_service.py
  backend/app/services/webhook_service.py
  backend/scripts/setup_stripe_subscriptions.py
  backend/tests/integration/test_subscription_api.py
  backend/tests/integration/test_subscription_e2e.py
  backend/tests/unit/test_subscription_service.py
  backend/tests/unit/test_subscription_webhooks.py
Due: type-check-backend, test-backend

feat(security): add Phase 0 security documentation
  docs/development/critical-findings-verification.md
  docs/development/phase0-security-prompts/00-AGENT-TOOLS-GUIDE.md
  docs/development/phase0-security-prompts/00-EXECUTION-GUIDE.md
  docs/development/phase0-security-prompts/00-SECURITY-FIRST-MANDATE.md
  docs/development/phase0-security-prompts/01-user-authorization-fixes.md
  docs/development/phase0-security-prompts/02-database-schema-security.md
  docs/development/phase0-security-prompts/03-pii-lgpd-compliance.md
  docs/development/phase0-security-prompts/04-mock-data-removal.md
  docs/development/phase0-security-prompts/05-bias-detection-implementation.md
  docs/development/phase0-security-prompts/06-input-validation-security.md
  docs/development/phase0-security-prompts/07-security-audit-verification.md
  docs/development/phase0-security-prompts/08-design-system-parallel.md
  docs/development/phase0-security-prompts/README.md
  docs/development/system-iplementation-assessment/CHUNKS-INDEX.md
  docs/development/system-iplementation-assessment/IMPLEMENTATION-DECISION-ANALYSIS.md
  docs/development/system-iplementation-assessment/SHARDING-SUMMARY.md
  docs/development/system-iplementation-assessment/assessment-contrast-report.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/README.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/chunk_001_2_embedding_service.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/chunk_002_backendappservicessupabasedatabasepy_enhanced.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/chunk_003_database_schema_changes.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/chunk_004_2_resume_matching_endpoints.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/chunk_005_frontend_component_structure.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/chunk_006_teststest_document_processingpy.md
  docs/development/system-iplementation-assessment/chunks-technical-guide/chunk_007_backendappapiresponsespy.md
  docs/development/system-iplementation-assessment/chunks/README.md
  docs/development/system-iplementation-assessment/chunks/chunk_001_week_3_advanced_document_processing.md
  docs/development/system-iplementation-assessment/chunks/chunk_002_week_12_core_ui_components_development.md
  docs/development/system-iplementation-assessment/chunks/chunk_003_1_security_vulnerability_exploitation.md
  docs/development/system-iplementation-assessment/chunks/chunk_004_next_steps.md
  docs/development/system-iplementation-assessment/implementation-roadmap.md
  docs/development/system-iplementation-assessment/resume-matcher-gap-analysis.md
  docs/development/system-iplementation-assessment/system-implementation-assessment.md
  docs/development/system-iplementation-assessment/technical-integration-guide.md
  scripts/shard_markdown.py
Due: none

feat(workflow): integrate automated type checking into Git Flow
  .github/pull_request_template.md
  .github/workflows/branch-protection.yml
  .github/workflows/pull-request-automation.yml
  .github/workflows/type-checking-automation.yml
  docs/GIT-WORKFLOW.md
  docs/development/UI-UX/implementation-checklist.md
  docs/development/UI-UX/qwick-user-guide.md
  docs/development/design-system-prompts/00-EXECUTION-GUIDE.md
  docs/development/design-system-prompts/01-css-theme-setup.md
  docs/development/design-system-prompts/README.md
  docs/development/phase0-security-prompts/00-AGENT-TOOLS-GUIDE.md
  docs/development/type-check/INTEGRATION-GUIDE.md
  docs/development/type-check/TROUBLESHOOTING.md
  docs/development/type-check/TYPE-AUTOMATION-SUMMARY.md
  package.json
  scripts/README.md
  scripts/type-fix-automation.sh
Due: none

fix(tooling): correct Bun command references for Brazilian SaaS development
  .claude/settings.local.json
  .husky/commit-msg
Due: none

chore(gitignore): enhance build artifact exclusion for CV-Match Brazilian SaaS
  .gitignore
Due: none

docs(workflow): update documentation with Brazilian market tooling corrections
  backend/docs/development/p1.5-prompts/00-AGENT-TOOLS-GUIDE.md
  backend/docs/development/p1.5-prompts/05-subscription-frontend-ui.md
  docs/GIT-WORKFLOW.md
  docs/development/p1.5-prompts/00-AGENT-TOOLS-GUIDE.md
  docs/development/p1.5-prompts/05-subscription-frontend-ui.md
  shared/types/README.md
Due: none

feat(workflow): implement comprehensive Git Flow workflow for CV-Match Brazilian SaaS
  .github/workflows/branch-protection.yml
  .github/workflows/pull-request-automation.yml
  .releaserc.json
  docs/BRANCH-CLEANUP-STRATEGY.md
  docs/BRANCH-PROTECTION-CONFIGURATION.md
  docs/COMMIT-MESSAGE-GUIDELINES.md
  docs/GIT-WORKFLOW.md
Due: none

chore(gitignore): enhance build artifact and development file exclusion
  .gitignore
Due: none

docs(workflow): add comprehensive implementation summary for Git Flow workflow
  docs/WORKFLOW-IMPLEMENTATION-SUMMARY.md
Due: none

docs(security): add Phase 0 security verification and implementation assessment
  docs/design-system/components.md
Due: none

fix(frontend): update test scripts to use bunx for Brazilian market deployment
  frontend/bun.lock
  frontend/package.json
Due: none

feat(workflow): enhance type checking automation with Ruff and Sentry integration
  backend/app/core/config.py
  backend/app/core/sentry.py
  backend/app/core/sentry_brazil_context.py
  backend/app/main.py
  backend/requirements.txt
  backend/ruff-brazilian.toml
Due: type-check-backend, test-backend

feat(pre-commit): 🎉 COMPLETE FULLY FUNCTIONAL PRE-COMMIT HOOK SYSTEM
  .husky/pre-commit
  backend/test-simple-clean.py
  frontend/test-simple-clean.ts
  frontend/tsconfig.tsbuildinfo
Due: type-check-frontend, test-frontend, test-backend

fix(workflow): resolve pre-commit hook issues and improve error handling
  .husky/pre-commit
  backend/app/core/sentry.py
  backend/app/services/webhook_service.py
  backend/test-simple-clean.py
  frontend/tsconfig.tsbuildinfo
Due: type-check-backend, test-backend

feat(security): 🗄️ Apply critical database migrations for Phase 0 security
  PRECOMMIT_COORDINATION_SUMMARY.md
  backend/supabase/migrations/20251013000000_create_lgpd_consent_system.sql
  backend/supabase/migrations/20251013000001_add_user_authorization_to_resumes.sql
  frontend/tsconfig.tsbuildinfo
Due: none

feat(docs): 📚 Reorganize development documentation into structured hierarchy
  .claude/settings.local.json
  .cursor/rules/README.md
  .cursor/rules/backend/fastapi-standards.mdc
  .cursor/rules/backend/llm-integration.mdc
  .cursor/rules/backend/supabase-integration.mdc
  .cursor/rules/database-migrations.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/frontend/api-integration.mdc
  .cursor/rules/frontend/nextjs-standards.mdc
  .cursor/rules/frontend/supabase-auth.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/templates/api-endpoint-template.mdc
  .cursor/rules/templates/react-component-template.mdc
  .cursor/rules/templates/service-class-template.mdc
Due: none

feat(design): 🎨 Complete Phase 0.8 design system implementation
  .claude/settings.local.json
  .cursor/rules/README.md
  .cursor/rules/backend/fastapi-standards.mdc
  .cursor/rules/backend/llm-integration.mdc
  .cursor/rules/backend/supabase-integration.mdc
  .cursor/rules/database-migrations.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/frontend/api-integration.mdc
  .cursor/rules/frontend/nextjs-standards.mdc
  .cursor/rules/frontend/supabase-auth.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/templates/api-endpoint-template.mdc
  .cursor/rules/templates/react-component-template.mdc
  .cursor/rules/templates/service-class-template.mdc
  docs/development/type-check/README.md
  frontend/bun.lock
  frontend/components/ui/alert.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/typography.tsx
  frontend/contexts/theme-context.tsx
  frontend/lib/accessibility/wcag-utils.ts
  frontend/lib/design-system/README.md
  frontend/lib/design-system/colors.ts
  frontend/lib/design-system/index.ts
  frontend/lib/design-system/tokens.ts
  frontend/lib/design-system/typography.ts
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
  frontend/tsconfig.tsbuildinfo
  package.json
Due: type-check-frontend, test-frontend

fix(ci): resolve type check configuration conflict
  .github/workflows/comprehensive-type-checking-automation.yml
  .github/workflows/type-checking-automation.yml
  backend/mypy.ini
  docs/development/type-check/README.md
  frontend/package.json
Due: none

fix(hooks): correct venv path in pre-commit hook
  .husky/pre-commit
Due: none

feat(design): ✅ COMPLETE PHASE 0.8 DESIGN SYSTEM IMPLEMENTATION
  frontend/app/[locale]/design-system/page.tsx
  frontend/app/globals.css
  frontend/package.json
  frontend/tailwind.config.js
Due: type-check-frontend, test-frontend

fix(gitignore): update ignored files list
  .gitignore
  docs/mocks/cv-match-analysis-flow.tsx:Zone.Identifier
  docs/mocks/cv-match-authentication.tsx:Zone.Identifier
  docs/mocks/cv-match-dashboard.tsx:Zone.Identifier
  docs/mocks/cv-match-landing.tsx:Zone.Identifier
Due: none

fix: implement bulk type checking methodology - reduce errors by 18.8%
  backend/app/core/database.py
  backend/app/core/sentry.py
  backend/app/middleware/security.py
  backend/app/services/llm/llm_service.py
  backend/app/services/resume_service.py
  backend/app/services/text_extraction.py
Due: type-check-backend, test-backend

feat: comprehensive type safety improvements and system updates
  .kilocode/mcp.json
  backend/app/agent/strategies/wrapper.py
  backend/app/config/pricing.py
  backend/app/core/database.py
  backend/app/core/sentry.py
  backend/app/main.py
  backend/app/models/secure.py
  backend/app/services/bias_detection_service.py
  backend/app/services/fairness_monitoring_service.py
  backend/app/services/llm/llm_service.py
  backend/app/services/security/consent_manager.py
  backend/app/services/security/data_subject_rights.py
  backend/app/services/security/input_sanitizer.py
  backend/app/services/security/middleware.py
  backend/app/services/security/pii_detection_service.py
  backend/app/services/security/retention_manager.py
  backend/app/services/stripe_service.py
  backend/app/services/supabase/storage.py
  backend/app/utils/file_security.py
  backend/app/utils/pii_masker.py
  backend/app/utils/security_check.py
  backend/app/utils/validation.py
  backend/pyproject.toml
  backend/test_p0_verification.py
  backend/uv.lock
  docs/development/design-system-prompts/03-shadcn-installation.md
  docs/development/design-system-prompts/04-aceternity-installation.md
  docs/development/design-system-prompts/07-dashboard-implementation.md
  docs/development/design-system-prompts/08-optimize-flow-ui.md
  docs/development/design-system-prompts/README.md
  frontend/tsconfig.tsbuildinfo
Due: type-check-backend, test-backend

fix: reduce frontend linting errors by 52% (52 to 25)
  frontend/app/[locale]/dashboard/page.tsx
  frontend/app/[locale]/optimize/page.tsx
  frontend/app/api/health/route.ts
  frontend/app/payment/success/page.tsx
  frontend/app/results/[id]/page.tsx
  frontend/components/account/CancelSubscriptionDialog.tsx
  frontend/components/account/SubscriptionDashboard.tsx
  frontend/components/dashboard/credit-balance.tsx
  frontend/components/pricing/CreditCards.tsx
  frontend/components/pricing/SubscriptionCards.tsx
  frontend/components/ui/alert.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/typography.tsx
  frontend/contexts/AuthContext.tsx
  frontend/contexts/theme-context.tsx
  frontend/lib/design-system/colors.ts
  frontend/lib/design-system/index.ts
  frontend/lib/sentry-brazil-context.ts
Due: type-check-frontend, test-frontend

fix: resolve blocking linting errors
  frontend/app/[locale]/optimize/page.tsx
  frontend/components/ui/alert.tsx
  frontend/components/ui/card.tsx
Due: type-check-frontend, test-frontend

chore: update tsbuildinfo file
  frontend/tsconfig.tsbuildinfo
Due: none

chore: update tsconfig.tsbuildinfo
  frontend/tsconfig.tsbuildinfo
Due: none

refactor(docs): optimize design system prompts structure
  docs/development/design-system-prompts/ANTI-HALLUCINATION-PROTOCOL.md
  docs/development/design-system-prompts/CLEANUP_SUMMARY.md
  docs/development/design-system-prompts/FALLBACK_STRATEGY.md
  docs/development/design-system-prompts/README.md
  docs/development/design-system-prompts/START_HERE.md
  docs/development/design-system-prompts/_design-reference/COMPONENT-CONFIGURATION-PLAN.md
  docs/development/design-system-prompts/_design-reference/IMPLEMENTATION-ROADMAP.md
  docs/development/design-system-prompts/_design-reference/README.md
  docs/development/design-system-prompts/_design-reference/SHADCN-COMPONENT-MAPPING.md
  docs/development/design-system-prompts/_design-reference/SHADCN-REGISTRY-CONFLICT-RESOLUTION.md
Due: none

docs(design-system): update documentation and add audit reports
  .kilocode/mcp.json
  frontend-audit-a-plus-roadmap.md
  frontend-audit-comparison-report.md
Due: none

feat(kilocode): add specialized rules for backend, frontend, and Docker modes
  .kilocode/mcp.json
  .kilocode/rules-backend-specialist/08-backend-architecture.md
  .kilocode/rules-backend-specialist/09-backend-security.md
  .kilocode/rules-backend-specialist/10-backend-performance.md
  .kilocode/rules-backend-specialist/11-backend-architecture.md
  .kilocode/rules-backend-specialist/12-backend-data-integrity.md
  .kilocode/rules-backend-specialist/13-backend-type-safety.md
  .kilocode/rules-backend-specialist/14-backend-logging.md
  .kilocode/rules-backend-specialist/15-backend-testing.md
  .kilocode/rules-backend-specialist/16-backend-documentation.md
  .kilocode/rules-backend-specialist/17-backend-dependencies-config.md
  .kilocode/rules-backend-specialist/18-backend-rules-index.md
  .kilocode/rules-backend-specialist/README.md
  .kilocode/rules-backend-specialist/mode.yaml
  .kilocode/rules-docker/01-dockerfile-best-practices.md
  .kilocode/rules-docker/02-docker-compose-best-practices.md
  .kilocode/rules-docker/03-docker-security.md
  .kilocode/rules-docker/README.md
  .kilocode/rules-docker/mode.yaml
  .kilocode/rules-frontend-specialist/01-frontend-core-standards.md
  .kilocode/rules-frontend-specialist/02-frontend-nextjs-patterns.md
  .kilocode/rules-frontend-specialist/03-frontend-react-patterns.md
  .kilocode/rules-frontend-specialist/04-frontend-styling-ui.md
  .kilocode/rules-frontend-specialist/05-frontend-data-forms..md
  .kilocode/rules-frontend-specialist/06-frontend-security-errors.md
  .kilocode/rules-frontend-specialist/07-frontend-common-mistakes.md
  .kilocode/rules-frontend-specialist/08-frontend-next-intl-i18n.md
  .kilocode/rules-frontend-specialist/README.md
  .kilocode/rules-frontend-specialist/mode.yaml
  .kilocode/rules/README.md
Due: none

fix: Docker configuration and add new authentication components
  backend/Dockerfile.dev
  backend/app/core/auth.py
  backend/app/exceptions/__init__.py
  backend/app/exceptions/providers.py
  backend/app/models/auth.py
  backend/app/services/llm/agent_manager.py
  docker-compose.yml
  frontend/Dockerfile.dev
  frontend/package.json
Due: type-check-backend, test-backend
